body {
    background-color: #10214d;
}

.page-blue * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.panel-title-container {
    pointer-events: none;
    cursor: default;
}

.page-blue .panel-container {
    background-color: #10214d;
    border: none;
}

.page-blue .alert-warning.alert {
    background: grey;
}

.page-blue .graph-tooltip {
    background-color: #7b531a;
}

.page-blue .graph-legend-table .graph-legend-series:nth-child(odd) {
    background-color: #1a7f3e;
}

.page-blue .footer {
    display: none;
}

.page-blue .card-item {
    background: #1b357a;
}

.page-blue .card-item:hover {
    background: #1b357a;
}

.page-blue .card-list-layout-list .card-item {
    border-bottom: .2rem solid #0d2667;
}

body.page-trans {
    background-color: transparent;
}

.page-trans .panel-container {
    background-color: transparent;
}