body {
    background-color: transparent;
}

.page-custom * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.page-custom .panel-title-container {
    pointer-events: none;
    cursor: default;
}

.page-custom .panel-loading {
    display:none;
}

.page-custom .panel-container {
    border:none;
}

.page-custom .panel-hover-highlight {
    box-shadow: none;
}

.page-custom .alert-warning.alert {
    background: grey;
}

.page-custom .graph-tooltip {
    background-color: #7b531a;
}

.page-custom .graph-legend-table .graph-legend-series:nth-child(odd) {
    background-color: #1a7f3e;
}

.page-custom .footer {
    display: none;
}

.page-blue .panel-container {
    background-color: #10214d;
}

.page-trans .panel-container {
    background-color: transparent;
}

.page-blue .card-item {
    background: #1b357a;
}

.page-blue .card-item:hover {
    background: #1b357a;
}

.page-blue .card-list-layout-list .card-item {
    border-bottom: .2rem solid #0d2667;
}

.page-trans .card-item {
    background: #0e1d42;
}

.page-trans .card-item:hover {
    background: #0e1d42;
}

.page-trans .card-list-layout-list .card-item {
    border-bottom: .2rem solid #0d2667;
}

