body.page-blue, [ng-cloak] {
    background-color: #10214d;
}

.page-blue .panel-container {
    background-color: #10214d;
}

.page-blue .graph-tooltip {
    background-color: #7b531a;
}

.page-blue .graph-tooltip .graph-tooltip-time {
}

.page-blue .graph-legend-table .graph-legend-series:nth-child(odd) {
    background-color: #1a7f3e
}